body {
    background: #111;
    color: white;
    font-family: Arial;
}

.container {
    width: 80%;
    margin: auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #00ffcc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #444;
}

.add-btn,
.edit-btn,
.del-btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.add-btn {
    background: #00ccff;
}

.edit-btn {
    background: orange;
}

.del-btn {
    background: red;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #222;
    padding: 25px;
    width: 400px;
    border-radius: 10px;
}